.br-6 {
  border-radius: 6px;
}

.fw-b {
  font-weight: bold;
}

.rm-pd {
  padding: 0 !important;
}

/* .l-full-width {
  width: 100%;
} */

.position-top {
  top: 0 !important;
}

.position-bottom {
  bottom: 0 !important;
}

.text-center {
  text-align: center;
}

.back-arrow ~ .icon-arrow {
  width: 40px;
  height: 35px;
  background-color: #888;
}

.back-arrow:hover {
  opacity: 0.8;
  cursor: pointer;
}

.openModal {
  position: absolute;
  background-color: rgba(102, 102, 102, 0.326);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}


.link-default {
  text-decoration: none;
  color: #000;
}

.link-default:hover {
  color: #000;
  opacity: 0.7;
}

.login-page__images--mb,
.login-page__images--tl,
.login-page__images {
  position: relative;
  width: 100%;
  height: 100vh;
}

.login-page__images--tl {
  display: none;
}

.login-page__images--mb {
  display: none;
}

.login-page {
  /* background-color: #000; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.forgot-page__register-form {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 250px;
  max-height: 300px;
  width: 360px;
  /* border: 1.5px solid #000; */
  border-radius: 6px;
}

.forgot-page__register-form--padding {
  padding: 24px;
}

.forgot-page__register-form input {
  padding: 10px 0 10px 10px;
}

.eyes-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.forgot-page__register-form input:focus {
  box-shadow: 0 0 6px #000 !important;
}

.forgot-page__register-form button:hover {
  opacity: 0.9;
}

.forgot-password {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  font-style: italic;
}

.forgot-password:hover {
  opacity: 0.8;
  cursor: pointer;
}

.forgot-page__register-form--bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot-page__register-form--bottomIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Tablet and Mobile*/
@media (max-width: 63.9375em) {
  .rm-col {
    display: none;
  }

  .login-page__images--tl {
    display: block;
  }

  .login-page__images {
    display: none;
  }

  .rm-col {
    display: none;
  }

  .rm-margin {
    margin: 0;
  }

  .rm-br {
    border-radius: 0px !important;
  }

  .forgot-page__register-form {
    border: none;
  }
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .m-all-fsz {
    font-size: 24px !important;
  }

  .m-fsz {
    font-size: 26px !important;
  }

  .m-fsz-22 {
    font-size: 22px !important;
  }

  /* .l-full-width {
    display: none;
  } */

  .mt-12 {
    margin-top: 12px;
  }

  .login-page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .login-page__images--tl {
    display: block;
  }

  .login-page__images {
    display: none;
  }

  .login-page__images--mb {
    display: none;
  }

  .forgot-page__register-form {
    width: 400px;
  }
}

/*Mobile*/
@media (max-width: 46.1875em) {
  .s-all-fsz {
    font-size: 18px !important;
  }

  .s-fsz {
    font-size: 20px !important;
  }

  .login-page {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .login-page__images--mb {
    display: block;
  }

  .login-page__images--tl {
    display: none;
  }

  .forgot-page__register-form {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
  }

  .forgot-page__register-form input {
    padding: 12px 0 12px 12px;
  }
  .login-page__register-form--padding {
    padding: 24px 24px 0 24px;
  }
}
